:root {
    --color-primary: hsl(150, 100%, 30%);
    --color-secondary: hsl(48, 100%, 50%);
    --color-background: hsl(0, 100%, 0%);
    --color-text: hsl(42, 63%, 95%);
    --color-shadow:  hsl(49, 100%, 43%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: var(--color-text);
}

.active {
    color: rgb(233, 31, 31);
}

html {
    font-size: 20px;
    background-color: var(--color-background);
}

@media screen and (max-width: 500px) {
    html {
        font-size: 15px;
    }

    .card .selector {
        width: 70%;
    }
}

header {
    background-color: var(--color-background);
    height: 8vh;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    top: 0;
}
header h1 {
    color: var(--color-text);
}

main {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.el {
    margin: 20px 0;
}

.card {
    width: min(25rem, 100%);
    height: 80vh;
    border-radius: 25px;
    margin: 2rem;
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 25px 10px var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.selector {
    width: 40%;
    background-color: var(--color-primary);
    border-radius: 15px;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.403);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selector p {
    padding: 4px;
    font-size: 1.2rem;
}

.clock {
    width: 70%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.outer {
    background-color: var(--color-primary);
    box-shadow: 0px 0px 7px 5px var(--color-text);
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    background-color: var(--color-background);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    background-color: var(--color-primary);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers p {
    font-size: 2.5rem;
    padding: 2px;
    letter-spacing: 2px;
}

.controls {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    padding: 2px 10px;
    margin: 5px 20px;
    cursor: pointer;
    width: 50px;
}

.controls i {
    font-size: 2.5rem;
}

.pause {
    display: none;
}

#break,
#work {
    cursor: pointer;
}





